BasedOnStyle: Google
IndentWidth: 4
# When you have lot of arguments or parameters, put them on new lines
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: BlockIndent
